node_modules/
build/
build-static/
static/
test-coverage-report/
.github/
.env.example
.env
package.json
package-lock.json
readme.md
tsconfig.json
jest.config.js
**/*/*.test.*
lerna.json
**/*/*.css
**/*/*.svg
**/*/public
*.yaml
**/*/config/
**/*/webpack.config.js
docker-compose.yml
Dockerfile
docker/
.dockerignore
cypress.json
cypress/fixtures/*.json
*.png
*.jpg
*.eot
*.svg
*.ttf
*.woff
*.woff2
docker-compose.*.*
azure-pipelines*.yml
charts/
devops/
nodemon.json
**/*/cypress/**/*.json
**/*/__mocks__/**/*
**/*/*.scss
CHANGELOG.md
CODEOWNERS
**/*/*.html
*.json
*.sh
sonar-project.properties
*.pug