node_modules/
build/
build-static/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*-debug.log*
coverage/
videos/
reports/
screenshots/
**/junit*.xml
.vscode
test-videos
test-screenshots
test-results
*.mp4
test-coverage-report/
.idea/
**/storybook-static/
