body {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.top-table {
  width: 100%;
  height: 100%;
}

.img-col {
  border: 1px solid #cccccc;
}

.inner-table {
  background-color: #fff;
  padding: 25px;
  width: 100%;
  border-top: 16px solid #006cb5;
}

.inner-table-row-column {
  background-color: #fff;
  padding: 25px 25px 0 25px;
}

.inner-table-row-column > span {
  font-family: \"Helvetica Neue\", \"Segoe UI\", Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
}

.anchor {
  color: #333333;
  text-decoration: none;
}

.anchor > img {
  padding-right: 10px;
}

.innermost-table {
  width: 100%;
}

.innermost-table-column {
  background-color: #fff;
  padding: 0px 50px 0px 50px;
}

.innermost-table-column-span {
  font-family: \"Helvetica Neue\", \"Segoe UI\", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}

.accept-invite-button {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  background: #006cb5;
  padding: 10px 30px;
  border-radius: 100px;
  font-family: \"Helvetica Neue\", \"Segoe UI\", Arial, sans-serif;
}

.alternate-button {
  font-family: \"Helvetica Neue\", \"Segoe UI\", Arial, sans-serif;
  font-size: 16px;
  line-height: 14px;
  color: #333333;
}

.alternate-button-column {
  background-color: #fff;
  padding: 0px 50px 50px 50px;
  border-radius: 0px 0px 6px 6px;
}

.accept-invite-button-column {
  background-color: #fff;
  padding: 25px 50px 25px 50px;
}

.body-header {
  font-size: 20px;
}

.permalink_section {
  color: #333333;
  cursor: pointer;
  border-bottom: 1px solid #333333;
}

.permalink_section:hover {
  color: #158bd1;
  cursor: pointer;
  border-bottom: 1px solid #158bd1;
}

.para-margin {
  margin-bottom: 24px;
}

.field-title {
  color: #6d7685;
}
