{
  "extends": [
    "../../.eslintrc",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "@typescript-eslint"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "semi": [0],
    "space-before-function-paren": [0],
    "comma-dangle": [0],
    "no-tabs": "off",
    "indent": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-empty-pattern": "off"
  },
  "env": {
    "cypress/globals": true
  }
}
